#footer h3 {
    font-size: 40px;
    color: white;
}

.footer h5 {
    font-size: 30px;
    color: white;
}

.footer p {
    font-size: 15px;
    color: white;
}

.footer li {
    color: white;
    font-size: 25px;
}

.footer a {
    color: rgb(0, 174, 255);
    font-size: 25px;
}
